*{
    margin: 0px;
    padding: 0px;

}

.header{
    justify-content: space-between;
    display:flex; align-items: center;
    background-color: black;
    color: white;
    min-height: 3rem;

}

nav {
    display: flex;
 /* justify-content: flex-end; */

}
li{
   
    list-style-type: none;
    margin-right: 2rem;
    margin-top: 3rem;
    text-align: right;
    font-size: 1.5rem;
    cursor: pointer;
}
li:hover{
    background: rgb(65, 64, 64);
}
